/* Colors */

/* Beige */
$beige-500: #98908B;
$beige-100: #F8F4F0;

/* Grey */
$grey-900: #201F24;
$grey-500: #696868;
$grey-300: #B3B3B3;
$grey-100: #F2F2F2;

/* Secondary Colors */
$secondary-green: #277C78;
$secondary-yellow: #F2CDAC;
$secondary-cyan: #82C9D7;
$secondary-navy: #626070;
$secondary-red: #C94736;
$secondary-purple: #826CB0;

/* Other Colors */
$other-purple: #AF81BA;
$other-turquoise: #597C7C;
$other-brown: #93674F;
$other-magneta: #934F6F;
$other-blue: #3F82B2;
$other-navy-grey: #97A0AC;
$other-army-green: #7F9161;
$other-gold: #CAB361;
$other-orange: #BE6C49;

/* White */
$white: #FFFFFF;